/* this is the code for styling the website
    we can probably separate this between the different pages
    but for now this styles all the pages
*/
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Georgia", serif;
    background: #f4f4f4;
    color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #4d82ad;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family: "Segoe Script", serif;
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul i a:hover {
    color: #a9acb1;
}

main {
    width: 100%;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 8px;
    border-radius: 5px;
}

.box {
    width: 600px;
    height: 300px;
    background-color: #f4f4f4;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    margin: 30px;
    color: #333;
}